body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #4c85e8;
}

.form-field {
  margin-bottom: 20px;
  position: relative;
}

.form-field label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input[type="password"] {
  width: 100%;
  padding: 10px;
  padding-right: 40px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.password-wrapper .toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form-field input[type="text"],
.form-field input[type="email"],
.form-field input[type="password"],
.form-field select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.form-field input[type="text"]:focus,
.form-field input[type="email"]:focus,
.form-field input[type="password"]:focus,
.form-field select:focus {
  border-color: #80bdff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.25);
}

.tooltip {
  background: #f9f9f9;
  border: 1px solid #ddd;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  display: none;
}

.tooltip ul {
  list-style: none;
  padding: 0;
}

.tooltip ul li {
  margin-bottom: 5px;
}

.tooltip ul li.valid {
  color: green;
}

.tooltip ul li.invalid {
  color: red;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: #080682;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background: #1777d7;
}

.errors {
  margin-bottom: 20px;
  color: red;
}

p {
  text-align: center;
  margin-top: 20px;
}

p a {
  color: #4c85e8;
  text-decoration: none;
}

p a:hover {
  text-decoration: underline;
}
